* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #146356;
}
body {
  background-color: #146356;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.h1 {
  color: #a3da8d;
  text-align: center;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.card-components {
  background-color: #146356;
  color: #a3da8d;
}

.search {
  margin: 20px;
  padding: 5px;
  margin-left: auto;
  align-content: center;
  width: 357px;
  margin: 4px auto;
  text-align: center;
  display: inline-block;
  display: flex;
  margin-top: 15px;
}

.card:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

.overflow {
  overflow: hidden;
}

.card img {
  height: 200px;
  width: 100%;
  object-fit: contain;
  background-color: #a3da8d;
}
